* {
    font-family: Ubuntu Nerd Font;
}

/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/

window#waybar {
	background-color: @theme_bg_color;
	font-weight: 600;
	font-size: 1.2em;
}

.modules-left,.modules-center,.modules-right {
	margin: 0.3em 0.5em;
}

.modules-left > widget > label, .modules-center > widget > label, .modules-right > widget > label {
	padding: 0em 0.5em 0em 0.5em;
	border-radius: 0.3em;
}

.modules-left widget > #tags {
	margin: 0em;
}

.modules-left widget > * {
	margin: 0em 0.3em 0em 0em;
}

.modules-left #tags > * {
	margin: 0em 0.3em 0em 0em;
	padding: 0em 0.5em 0em 0.5em;
	border-width: 0.1em;
	color: @theme_selected_fg_color;
	background-color: @theme_unfocused_bg_color;
}

.modules-left #tags button:hover {
	border-color: mix(@theme_selected_bg_color, #303030, 0.5);
}

.modules-left #tags button {
	color: mix(@theme_unfocused_bg_color, #707070, 0.5);
	/* box-shadow: inset 0em 0.1em @theme_selected_bg_color; */
}

.modules-left #tags button.occupied {
	color: @theme_fg_color;
	/* box-shadow: inset 0em 0.1em @theme_selected_bg_color; */
}

.modules-left #tags button.focused {
	color: @theme_selected_fg_color;
	background: @theme_selected_bg_color;
	box-shadow: inset 0em 0em @theme_selected_bg_color;
}

.modules-left #mode {
	color: @theme_selected_fg_color;
	background-color: @theme_selected_bg_color;
}

.modules-left #mode.normal {
	color: @theme_fg_color;
	background-color: @theme_unfocused_bg_color;
}

.modules-left #window {
	font-size: 1.2em;
	font-weight: 100;
}

.modules-center widget > * {
	margin: 0em 0em 0em 0.5em;
	border-radius: 0.3em;
	background-color: @theme_unfocused_bg_color;
}

.modules-right widget > * {
	padding: 0em 0.5em;
	margin: 0em 0em 0em 0.3em;
	border-radius: 0.3em;
	background-color: @theme_unfocused_bg_color;
}

.modules-right #tray widget > * {
	margin: 0em;
	padding: 0em;
}

#cpu {
	border-radius: 0.3em 0em 0em 0.3em;
	min-width: 4em;
	padding: 0em 0em 0em 0em;
}

#memory {
	border-radius: 0em 0.3em 0.3em 0em;
	margin: 0em;
	min-width: 4em;
	padding: 0em 0em 0em 0em;
}

.modules-right #battery {
	padding: 0em 0.5em 0em 0.5em;
}
.modules-right #battery.warning {
    background: @warning_color;
}

.modules-right #battery.critical {
    background: @error_color;
}

#custom-media.custom-spotify {
    color: #000000;
    background-color: #1DB954;
}

#clock {
	background-color: @theme_bg_color;
	padding: 0em 0em;
}

#custom-makodnd {
	background-color: @theme_bg_color;
	font-size: 1.2em;
	padding: 0em;
}

#custom-media.custom-spotify {
    color: #000000;
    background-color: #1DB954;
}

#custom-media.custom-firefox {
    color: #000000;
    background-color: #FF602C;
}

#custom-gnma {
    color: @theme_selected_bg_color;
    background-color: @theme_bg_color;
}
